<html lang="ja">
  <head>
    <style>
     [v-cloak] {
       display: none;
     }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <select name="midiDevice" v-model="selectedMidiDevice">
        <option v-for="d in midiDevices" :value="d[1]">
          {{ `${d[0]}: ${d[1].name}` }}
        </option>
      </select>
      <button :disabled="!selectedMidiDevice" @click="connect">connect</button>
      <input type="range" v-model="tempo" min="20" max="240"></input>{{ tempo }}
      <br>
      <textarea v-model="model" rows="10" cols="50"></textarea>
      <br>
      <button @click="applyModel">apply</button>
      <br>
      <canvas id="canvas" width="256" height="128" @click="toggleMode"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="../dist/index.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
